* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

main {
  margin: auto;
  width: 80%;
padding-bottom:40%;
}
p {
line-height:1.5 !important;	
}
heading img {
	width:100% !important;
	padding-bottom:3%;
}
h2{
	text-align: center;
}

div.mainleft {
	display: inline;
	float: left;
	width:40%;
	padding-bottom:3%;
}
div.middleColumn { 
	min-width:10%;
}
div.mainleft img {
    width: 400px;
    max-width: 100%;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
div.mainright img {
	width:100%;
	max-width:400px;
	text-align:center;
    padding-left: 20%;
    padding-right: 20%;
}
div.mainright {
	display: inline;
	width:40%;
	float: right;
	padding-bottom:3%;
}
div.logo {
	display: inline;
	float:left;
}
main > h1 {
  text-align: center;
  font-size: 3.5em;
}
#mainmenu, #loginmenu {
  display: inline;
  float:left;
}
#loginmenu {
  float:right;
}
ul.menu li, ul.login li {
  display: inline;
  margin-right:60px;
}
mainbody h2 {
	text-align:center;
}
img {
text-align:center !important;	
}
a.LearnMore {
	background-color:#3088F5 !important;
	color:#000000 !important;
	padding:10px;
	text-decoration: none
}
a.LearnMore.Hover {
	background-color:#000000 !important;
	color:#3088F5 !important;	
}
